<h1>Lee Sheppard</h1>
<p>
  I am a fulltime developer and illustrator from Sydney, Australia. I began my
  career as a cartoonist 28 years ago. I began programming on a Commodore 64
  and my interest in tech began from there. 
</p>
