// Objects: So called “cosmetic free design patterns” such as a grid system

.main--master-title {
  font-size: 5em;
  font-family: 'Molle', cursive;
  text-shadow: 0.0125em 0.025em $black;
  padding-top: 1em;
}
